<div id="wrap" class="check-cash-payment">
<h3>Thanks for being a member of TANC!</h3>
Please mail your check to:
<address>
TANC Membership Service <br>
5200 Huntington Avenue, Suite 200 <br>
Richmond <br>
CA 94804
</address>
<p> For cash payment, please email us at <strong>contact[at]tanc.org</strong> or call us on <strong>(510) 666 1355</strong></p>
<p><em> *Please don't send cash through mail! </em></p> 
  <%= submit_tag 'Done!' %>
</div>


