<form>
  <div class="title">Login/Sign Up</div>
  <input type="text" placeholder="Email">
  <input type="password" placeholder="Password">
  <input type="submit" value="Submit">
</form>

<p><a href="#">New User Sign up here!</a></p>
