<div id="wrap" class="profile">
  <h3>Welcome, <%= @user_data[:email] %>.</h3>
  <ul>
    <li> <strong>Name:</strong> Tenzin Nyima</li> 
    <li> <strong>Telephone:</strong> (510) 508 XXXX</li>
    <li> <strong>Age:</strong> 19</li>
    <li> <strong>Gender:</strong> Female </li>
    <li> <strong>Address:</strong> 405 Soda, Berkeley, CA 94704
         </address> 
    </li>

</div>
