<div id="wrap">
<h3>Your password has been successfully changed. Now click the button at the bottom to go back to the main page</h3>
<%= link_to('Main login page', '/member/', :id => 'go_back_main_page') %>
</div>
