<div id="wrap">
<h2 class="title">Please enter the email you signed up with!</h2>
<%= form_tag :method => :post do %>
      <%= text_field_tag 'email', nil, :placeholder => 'Email' %>
      <%= submit_tag 'Reset Password' %>
  <% end %>
<%= link_to('Go back to the main login page', '/member/', :id => 'go_back_main_page') %>
</div>
