<div id="wrap">
<h3>Thanks for being a member of TANC!</h3>
For any further information please visit us at:
<address>
TANC Membership Service <br>
5200 Huntington Avenue, Suite 200 <br>
Richmond <br>
CA 94804
</address>
<p style = "text-align: center;">Or you can email us at <strong>contact[at]tanc.org</strong> or call us on <strong>(510) 666 1355</strong></p>

<div class = "logout">
  <%= link_to('LOGOUT', '#') %>
</div><br>
Or
<%= link_to('Go to your Profile', '#', :id => 'to_profile') %>

</div>


