<div id="wrap">
<h3>Please check your email now!</h3>
<p>We have sent you an email. Please follow the instructions in the email to complete your registration. Thanks for signing up with TANC!</p>
</div>
