<div id="wrap">
<h2 class="title">Update Password</h2>
<%= form_tag :action => "update_password" do %>
   <%= password_field_tag 'password', :placeholder => 'Password' %>
   <%= password_field_tag 'password-confirmation', :placeholder => 'Password Confirmation' %> 
   <%= submit_tag 'Update Password' %>
<% end %>
</div>
