<div id="wrap">
<h2 class="title">Update Password</h2>
<%= form_tag do %>
   <%= password_field_tag :password, nil, :autocomplete => 'off', :placeholder => 'Enter a new password' %>
   <%= password_field_tag :password_confirm, nil, :autocomplete => 'off', :placeholder => 'Type the new password again.' %> 
   <%= submit_tag 'Update Password' %>
<% end %>
</div>
