#wrap {
  background: #CADFE0;
  margin: auto;
  padding: 10px 0 20px 0;
  margin-top: -32px;
  width: 800px;
}
.title {
  position: relative;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 0px 1px 2px rgba(255,255,255,.5);
  color: #444;
}
input[type="radio"] {
width: 100px;
float: left;
}

a#forgot_password {
  font-size: 10px;
  color: red;
}
a#edit_profile {
  background: #F5C773;
  border: 1px solid #0a5378;
  border-radius: 4px;
  color: #eee;
  padding: 2px 10px;
  font-size: 10px;
  color: #000;
}
a#edit_profile:hover {
  color: #060;

}
p {
  padding: 0 20px;
  text-align: justify;
}
form {
  background: none;
  margin: 10px auto 0;
  padding: 10px 10px 0 10px;
  width: 280px;
}

input {
  display: block;
  font-size: 14px;
  width:240px;
  margin: 10px auto;
  padding: 10px 8px 10px 8px;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);
  border: 1px solid #666;
}

input {
  opacity: 0.5;
}

input:hover,
input:focus {
  opacity: .7;
  color:#08c;
  border: 1px solid #08c;
   box-shadow: 0px 1px 0px rgba(255,255,255,.25),inset 0px 3px 6px rgba(0,0,0,.25);
}

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 15px rgba(0,246,255,.5);
  border: 1px solid #08c;
  outline: none;
}
input[type="submit"] {
  appearance: none;
  opacity: .99;
  width:140px;
  background: #08c;
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 6px rgba(0,246,255,.5);
  border: 1px solid #0a5378;
  border-radius: 4px;
  color: #eee;
  cursor: pointer;
  text-shadow:0px -1px 0px rgba(0,0,0,.5);
  margin-top: 20px;
}

input[type="submit"]:hover {
  background: #08c;
  width:140px;
  border: 1px solid #0a5378;
  border-radius: 3px;
  box-shadow: inset 0px 3px 16px rgba(0,0,0,.25),0px 1px 10px rgba(255,255,255,.5),inset 0px -1px 2px rgba(255,255,255,.35);
  text-shadow:0px 1px 1px rgba(0,0,0,.65);
  -webkit-transition: all 0.40s ease-out;
  transition: all 0.40s ease-out;
}


label {
  margin-left: 2px;
  font-size: 12px;
}

input#membership_tibetan, input#membership_spouseoftibetan, input#membership_non-member, input#gender_male, input#gender_female {
  width: 30px;
  float: left;
  margin: 5px;
}

/*
CSS specific for member_payment page
*/
/** CSS for profile page */

/**#profile-photo {
border: 5px solid #CCC;
width: 150px;
height: 150px;
background: #600;
margin: auto;
}
*/
.profile ul {
  margin: 10px 0;
  padding: 0;
}
.profile li {
  list-style: none;
  padding: 2px 0;
}

.payment_options {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 20px;
  background-color: #CBD3D4;
}

.payment_options button {
  appearance: none;
  opacity: .99;
  background: #08c;
  color: #FFF;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #0a5378;
}
.payment_options button:hover {
  appearance: none;
  opacity: .99;
  background: #08c;
  color: #F5C773;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #0a5378;
  -webkit-transition: all 0.40s ease-out;
  transition: all 0.40s ease-out;
}
#paypal input {
  width: 150px;
  border: none;
  opacity: 1.0;
  padding: 3px 0 0 3px;
}

/* chech_cash_payment CSS */

.check-cash-payment p {
  text-align: center;
}
.check-cash-payment address {
  font-weight: bold;
}

/* ADMIN CSS */

table {
  width: 100%;
  border: 1px solid #000;
  padding: 0;
  margin: 0 0 30px 0;
  background: #CADFE0;
}

thead {
  color: #FFF;
  background: #600;
  padding: 0;
  margin: 0;
}
.filter_table {
  margin: auto;
  margin-bottom: 10px;
  padding: 0 5px;
  width: 240px;
  white-space: nowrap;
}
.filter_table input {
  width: 50px;
}
#admin_logout, #add_new_member {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
}
#list_of_people {
  margin: 10px;
}
#list_of_people td, #list_of_people th {
  border-right: 1px dashed #600;
  border-bottom: 1px dashed #600;
  padding: 3px;
  white-space: nowrap;
}
#list_of_people th a {
  color:#fff
}

#edit_members {
  background: #304A08;
  padding: 2px 5px;
  color: #FFF;
}
#delete_members {
  background: red;
  padding: 2px 5px;
  color: #FFF;
}
#edit_members:hover, #delete_members:hover {
  color: yellow;
  text-decoration: none;
}



/* PROFILE TABLE CSS */

#profile_table {
  width: 600px;
  margin: auto;
  border: none;
  padding: 10px;
}
#profile_table td {
  border-bottom: 1px dashed #600;
  text-align: left;
  padding: 3px;
}

/* SHOW PAGE */

#show_page_member_info {
  width: 400px;
  border: 1px solid #300;
  margin: auto;
  padding: 30px 20px;
  text-align: center;
  margin-top: 30px;
}
#show_page_member_info li {
  list-style-type: none;
  padding: 5px;
}
